In [235]:
import nltk
from nltk.stem.lancaster import LancasterStemmer
stemmer = LancasterStemmer()

import numpy
import tflearn
import tensorflow
import random
import json
import pickle

with open("dataset/intents.json") as file:
    data = json.load(file)

try:
    with open("data.pickle", "rb") as f:
        words, labels, training, output = pickle.load(f)
except:
    words = []
    labels = []
    docs_x = []
    docs_y = []

    for intent in data["intents"]:
        for pattern in intent["patterns"]:
            wrds = nltk.word_tokenize(pattern)
            words.extend(wrds)
            docs_x.append(wrds)
            docs_y.append(intent["tag"])

        if intent["tag"] not in labels:
            labels.append(intent["tag"])

    words = [stemmer.stem(w.lower()) for w in words if w != "?"]
    words = sorted(list(set(words)))

    labels = sorted(labels)

    training = []
    output = []

    out_empty = [0 for _ in range(len(labels))]

    for x, doc in enumerate(docs_x):
        bag = []

        wrds = [stemmer.stem(w.lower()) for w in doc]

        for w in words:
            if w in wrds:
                bag.append(1)
            else:
                bag.append(0)

        output_row = out_empty[:]
        output_row[labels.index(docs_y[x])] = 1

        training.append(bag)
        output.append(output_row)


    training = numpy.array(training)
    output = numpy.array(output)

    with open("data.pickle", "wb") as f:
        pickle.dump((words, labels, training, output), f)

tensorflow.reset_default_graph()

net = tflearn.input_data(shape=[None, len(training[0])])
net = tflearn.fully_connected(net, 8)
net = tflearn.fully_connected(net, 8)
net = tflearn.fully_connected(net, len(output[0]), activation="softmax")
net = tflearn.regression(net)

model = tflearn.DNN(net)

# try:
#     model.load("model.tflearn")
# except:
model.fit(training, output, n_epoch=1000, batch_size=8, show_metric=True)
model.save("model.tflearn")

Training Step: 22999  | total loss: 0.00006 | time: 0.166s
| Adam | epoch: 1000 | loss: 0.00006 - acc: 1.0000 -- iter: 176/184
Training Step: 23000  | total loss: 0.00006 | time: 0.173s
| Adam | epoch: 1000 | loss: 0.00006 - acc: 1.0000 -- iter: 184/184
--
INFO:tensorflow:C:\Users\RnD\Documents\NLP Lab\Prof.PC\model.tflearn is not in all_model_checkpoint_paths. Manually adding it.

In [ ]:
def bag_of_words(s, words):
    bag = [0 for _ in range(len(words))]

    s_words = nltk.word_tokenize(s)
    s_words = [stemmer.stem(word.lower()) for word in s_words]

    for se in s_words:
        for i, w in enumerate(words):
            if w == se:
                bag[i] = 1
            
    return numpy.array(bag)


def chat():
    print("Start talking with the bot (type quit to stop)!")
    while True:
        inp = input("You: ")
        if inp.lower() == "quit":
            break

        results = model.predict([bag_of_words(inp, words)])
        results_index = numpy.argmax(results)
        tag = labels[results_index]

        for tg in data["intents"]:
            if tg['tag'] == tag:
                responses = tg['responses']

        print(random.choice(responses))

chat()

Start talking with the bot (type quit to stop)!
You: cyberpunk
MINIMUM
CPU: Intel Core i5-3570K or AMD FX-8310
GPU: NVIDIA GeForce GTX 780 or AMD Radeon RX 470
RAM: 8 GB
VRAM: -



RECOMMENDED
CPU: Intel Core i7-4790 or AMD Ryzen 3 3200G
GPU: NVIDIA GeForce GTX 1060 or AMD Radeon RX 590
RAM: 12 GB
VRAM: -
You: valorant
MINIMUM
CPU: Intel Core 2 Duo E8400 3.0GHz / AMD Phenom 8750 Triple-Core
GPU: AMD Intel HD Graphics 3000 Desktop or NVIDIA GeForce 6800 GT
RAM: 4 GB
VRAM: 1 GB



RECOMMENDED
CPU: Intel Core i3-4150 3.5GHz / AMD FX-6100
GPU: AMD Radeon R5 240 v1 or NVIDIA GeForce GT 730
RAM: 4 GB
VRAM: 1 GB
You: val
MINIMUM
CPU: Intel Core 2 Duo E8400 3.0GHz / AMD Phenom 8750 Triple-Core
GPU: AMD Intel HD Graphics 3000 Desktop or NVIDIA GeForce 6800 GT
RAM: 4 GB
VRAM: 1 GB



RECOMMENDED
CPU: Intel Core i3-4150 3.5GHz / AMD FX-6100
GPU: AMD Radeon R5 240 v1 or NVIDIA GeForce GT 730
RAM: 4 GB
VRAM: 1 GB
You: cberpnk
MINIMUM
CPU: Intel Core i5-4690 / AMD FX-4350 or better
GPU: Nvidia GeForce GTX 780 / AMD Radeon R9 280x or better
RAM: 8 GB
VRAM: -



RECOMMENDED
CPU: Intel Core i5-7600K / AMD Ryzen 5 1600x or better
GPU: Nvidia GeForce GTX 1060 / AMD Radeon RX 580 or better (RTX 2060 for Ray-Tracing)
RAM: 16 GB
VRAM: -
You: f1
MINIMUM
CPU: Intel Core i3 2130 / AMD FX 4300
GPU: NVIDIA GT 640 / AMD HD 7750
RAM: 8 GB
VRAM: 1 GB



RECOMMENDED
CPU: Intel Core i5 9600K / AMD Ryzen 5 2600X
GPU: NVIDIA GTX 1660 Ti / AMD RX 590
RAM: 16 GB
VRAM: 6 GB
You: zoo
MINIMUM
CPU: Intel Core i5-3570K or AMD FX-8310
GPU: NVIDIA GeForce GTX 780 or AMD Radeon RX 470
RAM: 8 GB
VRAM: -



RECOMMENDED
CPU: Intel Core i7-4790 or AMD Ryzen 3 3200G
GPU: NVIDIA GeForce GTX 1060 or AMD Radeon RX 590
RAM: 12 GB
VRAM: -
You: zoo tycoo
MINIMUM
CPU: Intel Core i5-3570K or AMD FX-8310
GPU: NVIDIA GeForce GTX 780 or AMD Radeon RX 470
RAM: 8 GB
VRAM: -



RECOMMENDED
CPU: Intel Core i7-4790 or AMD Ryzen 3 3200G
GPU: NVIDIA GeForce GTX 1060 or AMD Radeon RX 590
RAM: 12 GB
VRAM: -
You: zoo tycoon
MINIMUM
CPU: Pentium II or Athlon equivalent @ 733 MHz
GPU: 16 MB Direct 3D SVGA Video Card
RAM: 256 MB
VRAM: 16 MB



RECOMMENDED
CPU: Pentium 4 or Athlon XP @ 1.5 GHz
GPU: 64 MB 100% DirectX(R) 9.0b compatible Video Card
RAM: 512 MB
VRAM: 64 MB
You: tycoon
MINIMUM
CPU: Intel Core i5-3570K or AMD FX-8310
GPU: NVIDIA GeForce GTX 780 or AMD Radeon RX 470
RAM: 8 GB
VRAM: -



RECOMMENDED
CPU: Intel Core i7-4790 or AMD Ryzen 3 3200G
GPU: NVIDIA GeForce GTX 1060 or AMD Radeon RX 590
RAM: 12 GB
VRAM: -
You: yakuza
MINIMUM
CPU: Intel Core i5-3470, 3.2 GHz / AMD Ryzen 3 1200, 3.1 GHz
GPU: GeForce GTX 660, 2 GB / Radeon HD 7870, 2 GB
RAM: 4 GB
VRAM: 2048 MB



RECOMMENDED
CPU: Intel Core i7-6700, 3.4 GHz / AMD Ryzen 7 1700, 3.7 GHz
GPU: GeForce GTX 1070, 8 GB / Radeon RX Vega 56, 8GB
RAM: 16 GB
VRAM: 8192 MB
You: yakuza like
MINIMUM
CPU: Intel Core i5-3470 | AMD FX-8350
GPU: Nvidia GeForce GTX 660, 2 GB | AMD Radeon HD 7870, 2 GB
RAM: 8 GB
VRAM: 2048 MB



RECOMMENDED
CPU: Intel Core i7-6700 | AMD Ryzen 5 1400
GPU: Nvidia GeForce GTX 1060, 3 GB | AMD Radeon RX 580, 4 GB
RAM: 8 GB
VRAM: 3 GB
You: kiwami
MINIMUM
CPU: -
GPU: Video Card with 128 MB
RAM: 2 GB
VRAM: 128 MB



RECOMMENDED
CPU: 2GHz+
GPU: Video card with 512 MB
RAM: 3 GB
VRAM: 512 MB

In [232]:
!pip install tflearn

Collecting tflearn
  Downloading https://files.pythonhosted.org/packages/e7/3c/0b156d08ef3d4e2a8009ecab2af1ad2e304f6fb99562b6271c68a74a4397/tflearn-0.5.0.tar.gz (107kB)
Requirement already satisfied: numpy in c:\users\rnd\anaconda3\lib\site-packages (from tflearn) (1.18.5)
Requirement already satisfied: six in c:\users\rnd\anaconda3\lib\site-packages (from tflearn) (1.12.0)
Requirement already satisfied: Pillow in c:\users\rnd\anaconda3\lib\site-packages (from tflearn) (6.2.0)
Building wheels for collected packages: tflearn
  Building wheel for tflearn (setup.py): started
  Building wheel for tflearn (setup.py): finished with status 'done'
  Created wheel for tflearn: filename=tflearn-0.5.0-cp37-none-any.whl size=127306 sha256=dd10748b10e3641d1f2392d30282ae1aa4d249bd26165572ae792fa2e37937fd
  Stored in directory: C:\Users\RnD\AppData\Local\pip\Cache\wheels\31\d2\ed\fb9a0d301dd9586c11e9547120278e624227f22fd5f4baf744
Successfully built tflearn
Installing collected packages: tflearn
Successfully installed tflearn-0.5.0

In [182]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from pathlib import Path
import string
import re
import joblib
import json
from collections import Counter
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import plot_model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Dense, Flatten
from tensorflow.keras.layers import Conv1D
from tensorflow.keras.layers import MaxPooling1D
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau

In [183]:
# nltk.download('wordnet')

In [184]:
def load_doc(jsonFile):
    with open(jsonFile) as file:
        Json_data = json.loads(file.read())
    return Json_data

In [185]:
data = load_doc('dataset/intents.json')

In [186]:
def frame_data(feat_1,feat_2,is_pattern):
    is_pattern = is_pattern
    df = pd.DataFrame(columns=[feat_1,feat_2])
    for intent in data['intents']:
        if is_pattern:
            for pattern in intent['patterns']:
                w = pattern
                df_to_append = pd.Series([w,intent['tag']], index = df.columns)
                df = df.append(df_to_append,ignore_index=True)
        else:
            for response in intent['responses']:
                w = response
                df_to_append = pd.Series([w,intent['tag']], index = df.columns)
                df = df.append(df_to_append,ignore_index=True)
    return df

In [187]:
# users intents 
df1 = frame_data('questions','labels',True)
df1

                                    questions                       labels
0    Ace Combat 7: Skies Unknown requirements  Ace Combat 7: Skies Unknown
1                 Ace Combat 7: Skies Unknown  Ace Combat 7: Skies Unknown
2                   Apex Legends requirements                 Apex Legends
3                                Apex Legends                 Apex Legends
4                         ARMA 3 requirements                       ARMA 3
..                                        ...                          ...
179                           Yakuza Kiwami 2              Yakuza Kiwami 2
180        Yakuza: Like a Dragon requirements        Yakuza: Like a Dragon
181                     Yakuza: Like a Dragon        Yakuza: Like a Dragon
182                 Zoo Tycoon 2 requirements                 Zoo Tycoon 2
183                              Zoo Tycoon 2                 Zoo Tycoon 2

[184 rows x 2 columns]

In [188]:
df1.labels.value_counts(sort=False)

H1Z1                            2
Garry's Mod                     2
Euro Truck Simulator 2          2
Fallout 4                       2
Lego Batman 3: Beyond Gotham    2
                               ..
Insurgency: Sandstorm           2
Mortal Kombat 11                2
Control                         2
Overwatch                       2
Rise of the Tomb Raider         2
Name: labels, Length: 92, dtype: int64

In [189]:
# Bot response
df2 = frame_data('response','labels',False)
df2

,response,labels
0,MINIMUM\nCPU: Intel Core i3-7100\nGPU: NVIDIA ...,Ace Combat 7: Skies Unknown
1,MINIMUM\nCPU: AMD FX 4350 or Equivalent/Intel ...,Apex Legends
2,MINIMUM\nCPU: Intel Dual-Core 2.4 GHz/AMD Dual...,ARMA 3
3,MINIMUM\nCPU: Ryzen 3 1200 - 3.1 Ghz / Core i5...,Assassin's Creed Valhalla
4,MINIMUM\nCPU: AMD Athlon X2 2.8 GHZ/Intel Core...,Assetto Corsa
...,...,...
87,MINIMUM\nCPU: Intel Core i5-760 or AMD FX-8100...,World of Warcraft
88,MINIMUM\nCPU: Intel Core 2 Duo E4700 2.6 GHz o...,XCOM 2
89,"MINIMUM\nCPU: Intel Core i5-3470, 3.2 GHz / AM...",Yakuza Kiwami 2
90,MINIMUM\nCPU: Intel Core i5-3470 | AMD FX-8350...,Yakuza: Like a Dragon
91,MINIMUM\nCPU: Pentium II or Athlon equivalent ...,Zoo Tycoon 2

In [190]:
lemmatizer = WordNetLemmatizer()

vocab = Counter()
labels = []
def tokenizer(entry):
    tokens = entry.split()
    re_punc = re.compile('[%s]' % re.escape(string.punctuation))
    tokens = [re_punc.sub('', w) for w in tokens]
    tokens = [word for word in tokens if word.isalpha()]
    tokens = [lemmatizer.lemmatize(w.lower()) for w in tokens]
#     stop_words = set(stopwords.words('english'))
#     tokens = [w for w in tokens if not w in stop_words]
    tokens = [word.lower() for word in tokens if len(word) > 1]
    return tokens

In [191]:
def remove_stop_words(tokenizer,df,feature):
    doc_without_stopwords = []
    for entry in df[feature]:
        tokens = tokenizer(entry)
        joblib.dump(tokens,'tokens.pkl')
        doc_without_stopwords.append(' '.join(tokens))
    df[feature] = doc_without_stopwords
    return

In [192]:
def create_vocab(tokenizer,df,feature):
    for entry in df[feature]:
        tokens = tokenizer(entry)   
        vocab.update(tokens)
    joblib.dump(vocab,'vocab.pkl')
    return

In [193]:
create_vocab(tokenizer,df1,'questions')
remove_stop_words(tokenizer,df1,'questions')

In [194]:
print(vocab.most_common(20))

[('requirement', 92), ('of', 12), ('the', 10), ('ultimate', 6), ('legend', 4), ('batman', 4), ('infinite', 4), ('cry', 4), ('elder', 4), ('scroll', 4), ('simulator', 4), ('war', 4), ('injustice', 4), ('world', 4), ('just', 4), ('cause', 4), ('left', 4), ('dead', 4), ('quake', 4), ('yakuza', 4)]

In [195]:
vocab_size = len(vocab)
vocab_size

182

In [196]:
df1

                              questions                       labels
0    ace combat sky unknown requirement  Ace Combat 7: Skies Unknown
1                ace combat sky unknown  Ace Combat 7: Skies Unknown
2               apex legend requirement                 Apex Legends
3                           apex legend                 Apex Legends
4                      arma requirement                       ARMA 3
..                                  ...                          ...
179                       yakuza kiwami              Yakuza Kiwami 2
180      yakuza like dragon requirement        Yakuza: Like a Dragon
181                  yakuza like dragon        Yakuza: Like a Dragon
182              zoo tycoon requirement                 Zoo Tycoon 2
183                          zoo tycoon                 Zoo Tycoon 2

[184 rows x 2 columns]

In [197]:
test_list = list(df1.groupby(by='labels',as_index=False).first()['questions'])
test_list

['arma requirement',
 'ace combat sky unknown requirement',
 'apex legend requirement',
 'assassin creed valhalla requirement',
 'assetto corsa requirement',
 'batman arkham origin requirement',
 'battlefield requirement',
 'bioshock infinite requirement',
 'borderland requirement',
 'burnout paradise the ultimate box requirement',
 'call of duty black ops requirement',
 'control requirement',
 'counterstrike global offensive requirement',
 'crysis requirement',
 'cyberpunk requirement',
 'doom requirement',
 'dota requirement',
 'dark soul iii requirement',
 'destiny requirement',
 'devil may cry requirement',
 'elder scroll online requirement',
 'elder scroll skyrim requirement',
 'euro truck simulator requirement',
 'requirement',
 'fallout requirement',
 'far cry requirement',
 'final fantasy viii remastered requirement',
 'fortnite requirement',
 'garrys mod requirement',
 'goat simulator requirement',
 'grand theft auto requirement',
 'grid requirement',
 'guild war requirement',
 'requirement',
 'halflife alyx requirement',
 'halo infinite requirement',
 'hearthstone requirement',
 'hitman requirement',
 'injustice requirement',
 'injustice requirement',
 'insurgency sandstorm requirement',
 'jurassic world evolution requirement',
 'just cause requirement',
 'just cause requirement',
 'kholat requirement',
 'killing floor requirement',
 'league of legend requirement',
 'left dead requirement',
 'left alive requirement',
 'lego batman beyond gotham requirement',
 'life is strange requirement',
 'mass effect requirement',
 'metal gear solid the phantom pain requirement',
 'metro exodus requirement',
 'minecraft rtx requirement',
 'mortal kombat requirement',
 'nba requirement',
 'naruto shippuden ultimate ninja storm requirement',
 'need for speed heat requirement',
 'nier automaton requirement',
 'ori and the will of the wisp requirement',
 'outlast requirement',
 'overwatch requirement',
 'path of exile requirement',
 'payday requirement',
 'playerunknowns battleground pubg requirement',
 'portal requirement',
 'quake requirement',
 'quake champion requirement',
 'quantum break requirement',
 'rage requirement',
 'red dead redemption requirement',
 'resident evil requirement',
 'rise of the tomb raider requirement',
 'sekiro shadow die twice requirement',
 'serious sam requirement',
 'star war jedi fallen order requirement',
 'team fortress requirement',
 'tom clancys rainbow six siege requirement',
 'tropico requirement',
 'ultimate marvel capcom requirement',
 'undertale requirement',
 'valorant requirement',
 'vampyr requirement',
 'watch dog legion requirement',
 'witcher wild hunt requirement',
 'world of warcraft requirement',
 'xcom requirement',
 'yakuza kiwami requirement',
 'yakuza like dragon requirement',
 'zoo tycoon requirement',
 'efootball pe requirement']

In [198]:
test_index = []
for i,_ in enumerate(test_list):
    idx = df1[df1.questions == test_list[i]].index[0]
    test_index.append(idx)
len(test_index)

92

In [199]:
train_index = [i for i in df1.index if i not in test_index]
len(train_index)

95

In [200]:
' '.join(list(vocab.keys()))

'ace combat sky unknown requirement apex legend arma assassin creed valhalla assetto corsa batman arkham origin battlefield bioshock infinite borderland burnout paradise the ultimate box call of duty black ops control counterstrike global offensive crysis cyberpunk dark soul iii destiny devil may cry doom dota efootball pe elder scroll online skyrim euro truck simulator fallout far final fantasy viii remastered fortnite garrys mod goat grand theft auto grid guild war halflife alyx halo hearthstone hitman injustice insurgency sandstorm jurassic world evolution just cause kholat killing floor league left dead alive lego beyond gotham life is strange mass effect metal gear solid phantom pain metro exodus minecraft rtx mortal kombat naruto shippuden ninja storm nba need for speed heat nier automaton ori and will wisp outlast overwatch path exile payday playerunknowns battleground pubg portal quake champion quantum break rage red redemption resident evil rise tomb raider sekiro shadow die twice serious sam star jedi fallen order team fortress tom clancys rainbow six siege tropico marvel capcom undertale valorant vampyr watch dog legion witcher wild hunt warcraft xcom yakuza kiwami like dragon zoo tycoon'

In [201]:
def encoder(df,feature):
#     text = ' '.join(list(vocab.keys()))
    t = Tokenizer()
    entries = [entry for entry in df[feature]]
    t.fit_on_texts(entries)
    joblib.dump(t,'tokenizer_t.pkl')
    vocab_size = len(t.word_index) + 1
    entries = [entry for entry in df[feature]]
    max_length = max([len(s.split()) for s in entries])
    encoded = t.texts_to_sequences(entries)
    padded = pad_sequences(encoded, maxlen=max_length, padding='post')
    
    return padded, vocab_size

In [202]:
X,vocab_size = encoder(df1,'questions')

In [203]:
X.shape

(184, 8)

In [204]:
df_encoded = pd.DataFrame(X)

In [205]:
df_encoded['labels'] = df1.labels
df_encoded.head()

    0   1   2   3  4  5  6  7                       labels
0  21  22  23  24  1  0  0  0  Ace Combat 7: Skies Unknown
1  21  22  23  24  0  0  0  0  Ace Combat 7: Skies Unknown
2  25   5   1   0  0  0  0  0                 Apex Legends
3  25   5   0   0  0  0  0  0                 Apex Legends
4  26   1   0   0  0  0  0  0                       ARMA 3

In [206]:
for i in range(0,2):
    dt = [0]*8
    dt.append('confused')
    dt = [dt]
    pd.DataFrame(dt).rename(columns = {8:'labels'})
    df_encoded = df_encoded.append(pd.DataFrame(dt).rename(columns = {8:'labels'}),ignore_index=True)

In [207]:
df_encoded

       0    1    2   3  4  5  6  7                       labels
0     21   22   23  24  1  0  0  0  Ace Combat 7: Skies Unknown
1     21   22   23  24  0  0  0  0  Ace Combat 7: Skies Unknown
2     25    5    1   0  0  0  0  0                 Apex Legends
3     25    5    0   0  0  0  0  0                 Apex Legends
4     26    1    0   0  0  0  0  0                       ARMA 3
..   ...  ...  ...  .. .. .. .. ..                          ...
181   20  179  180   0  0  0  0  0        Yakuza: Like a Dragon
182  181  182    1   0  0  0  0  0                 Zoo Tycoon 2
183  181  182    0   0  0  0  0  0                 Zoo Tycoon 2
184    0    0    0   0  0  0  0  0                     confused
185    0    0    0   0  0  0  0  0                     confused

[186 rows x 9 columns]

In [208]:
# df_encoded = df_encoded.append(pd.DataFrame(dt).rename(columns = {16:'labels'}),ignore_index=True)

In [209]:
from sklearn.preprocessing import LabelEncoder
lable_enc = LabelEncoder()

In [210]:
labl = lable_enc.fit_transform(df_encoded.labels)
labl

array([ 1,  1,  2,  2,  0,  0,  3,  3,  4,  4,  5,  5,  6,  6,  7,  7,  8,
        8,  9,  9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18,
       19, 19, 15, 15, 16, 16, 92, 92, 20, 20, 21, 21, 22, 22, 23, 23, 24,
       24, 25, 25, 26, 26, 27, 27, 28, 28, 29, 29, 30, 30, 31, 31, 32, 32,
       33, 33, 34, 34, 35, 35, 36, 36, 37, 37, 38, 38, 39, 39, 40, 40, 41,
       41, 42, 42, 43, 43, 44, 44, 45, 45, 46, 46, 47, 47, 48, 48, 49, 49,
       50, 50, 51, 51, 52, 52, 53, 53, 54, 54, 55, 55, 57, 57, 56, 56, 58,
       58, 59, 59, 60, 60, 61, 61, 62, 62, 63, 63, 64, 64, 65, 65, 66, 66,
       67, 67, 68, 68, 69, 69, 70, 70, 71, 71, 72, 72, 73, 73, 74, 74, 75,
       75, 76, 76, 77, 77, 78, 78, 79, 79, 80, 80, 81, 81, 82, 82, 83, 83,
       84, 84, 85, 85, 86, 86, 87, 87, 88, 88, 89, 89, 90, 90, 91, 91])

In [211]:
mapper = {}
for index,key in enumerate(df_encoded.labels):
    if key not in mapper.keys():
        mapper[key] = labl[index]
mapper

{'Ace Combat 7: Skies Unknown': 1,
 'Apex Legends': 2,
 'ARMA 3': 0,
 "Assassin's Creed Valhalla": 3,
 'Assetto Corsa': 4,
 'Batman: Arkham Origins': 5,
 'Battlefield V': 6,
 'BioShock Infinite': 7,
 'Borderlands 3': 8,
 'Burnout Paradise: The Ultimate Box': 9,
 'Call of Duty: Black Ops 4': 10,
 'Control': 11,
 'Counter-Strike: Global Offensive': 12,
 'Crysis 3': 13,
 'Cyberpunk 2077': 14,
 'Dark Souls III': 17,
 'Destiny 2': 18,
 'Devil May Cry 5': 19,
 'DOOM': 15,
 'DOTA 2': 16,
 'eFootball PES 2021 ': 92,
 'Elder Scrolls Online': 20,
 'Elder Scrolls V: Skyrim': 21,
 'Euro Truck Simulator 2': 22,
 'F1 2020': 23,
 'Fallout 4': 24,
 'Far Cry 6': 25,
 'Final Fantasy VIII - Remastered': 26,
 'Fortnite': 27,
 "Garry's Mod": 28,
 'Goat Simulator': 29,
 'Grand Theft Auto V': 30,
 'Grid 2': 31,
 'Guild Wars 2': 32,
 'H1Z1': 33,
 'Half-Life Alyx': 34,
 'Halo Infinite': 35,
 'Hearthstone': 36,
 'Hitman 2': 37,
 'Injustice': 38,
 'Injustice 2': 39,
 'Insurgency: Sandstorm': 40,
 'Jurassic World Evolution': 41,
 'Just Cause 3': 42,
 'Just Cause 4': 43,
 'Kholat': 44,
 'Killing Floor 2': 45,
 'League of Legends': 46,
 'Left 4 Dead 2': 47,
 'Left Alive': 48,
 'Lego Batman 3: Beyond Gotham': 49,
 'Life is Strange': 50,
 'Mass Effect 5': 51,
 'Metal Gear Solid V: The Phantom Pain': 52,
 'Metro Exodus': 53,
 'Minecraft RTX ': 54,
 'Mortal Kombat 11': 55,
 'Naruto Shippuden: Ultimate Ninja Storm 4': 57,
 'NBA 2K21': 56,
 'Need For Speed Heat': 58,
 'NieR: Automata': 59,
 'Ori and the Will of the Wisps': 60,
 'Outlast 2': 61,
 'Overwatch': 62,
 'Path of Exile 2': 63,
 'Payday 2': 64,
 "PlayerUnknown's Battlegrounds (PUBG)": 65,
 'Portal 2': 66,
 'Quake 4': 67,
 'Quake Champions': 68,
 'Quantum Break': 69,
 'Rage 2': 70,
 'Red Dead Redemption 2': 71,
 'Resident Evil 3': 72,
 'Rise of the Tomb Raider': 73,
 'Sekiro: Shadows Die Twice': 74,
 'Serious Sam 4': 75,
 'Star Wars Jedi: Fallen Order': 76,
 'Team Fortress 2': 77,
 "Tom Clancy's Rainbow Six Siege": 78,
 'Tropico 6': 79,
 'Ultimate Marvel vs. Capcom 3': 80,
 'Undertale': 81,
 'Valorant': 82,
 'Vampyr': 83,
 'Watch Dogs: Legion': 84,
 'Witcher 3: Wild Hunt': 85,
 'World of Warcraft': 86,
 'XCOM 2': 87,
 'Yakuza Kiwami 2': 88,
 'Yakuza: Like a Dragon': 89,
 'Zoo Tycoon 2': 90,
 'confused': 91}

In [212]:
df2.head()

,response,labels
0,MINIMUM\nCPU: Intel Core i3-7100\nGPU: NVIDIA ...,Ace Combat 7: Skies Unknown
1,MINIMUM\nCPU: AMD FX 4350 or Equivalent/Intel ...,Apex Legends
2,MINIMUM\nCPU: Intel Dual-Core 2.4 GHz/AMD Dual...,ARMA 3
3,MINIMUM\nCPU: Ryzen 3 1200 - 3.1 Ghz / Core i5...,Assassin's Creed Valhalla
4,MINIMUM\nCPU: AMD Athlon X2 2.8 GHZ/Intel Core...,Assetto Corsa

In [213]:
df2.labels = df2.labels.map(mapper).astype({'labels': 'int32'})
df2.head()

                                            response  labels
0  MINIMUM\nCPU: Intel Core i3-7100\nGPU: NVIDIA ...       1
1  MINIMUM\nCPU: AMD FX 4350 or Equivalent/Intel ...       2
2  MINIMUM\nCPU: Intel Dual-Core 2.4 GHz/AMD Dual...       0
3  MINIMUM\nCPU: Ryzen 3 1200 - 3.1 Ghz / Core i5...       3
4  MINIMUM\nCPU: AMD Athlon X2 2.8 GHZ/Intel Core...       4

In [214]:
df2.to_csv('response.csv',index=False)

In [215]:
df_encoded

       0    1    2   3  4  5  6  7                       labels
0     21   22   23  24  1  0  0  0  Ace Combat 7: Skies Unknown
1     21   22   23  24  0  0  0  0  Ace Combat 7: Skies Unknown
2     25    5    1   0  0  0  0  0                 Apex Legends
3     25    5    0   0  0  0  0  0                 Apex Legends
4     26    1    0   0  0  0  0  0                       ARMA 3
..   ...  ...  ...  .. .. .. .. ..                          ...
181   20  179  180   0  0  0  0  0        Yakuza: Like a Dragon
182  181  182    1   0  0  0  0  0                 Zoo Tycoon 2
183  181  182    0   0  0  0  0  0                 Zoo Tycoon 2
184    0    0    0   0  0  0  0  0                     confused
185    0    0    0   0  0  0  0  0                     confused

[186 rows x 9 columns]

In [216]:
# df2.groupby('labels').get_group(11)

In [217]:
train = df_encoded.loc[train_index]
test = df_encoded.loc[test_index]

In [218]:
X_train = train.drop(columns=['labels'],axis=1)
y_train = train.labels
X_test = test.drop(columns=['labels'],axis=1)
y_test = test.labels

In [219]:
y_train =pd.get_dummies(y_train).values
y_test =pd.get_dummies(y_test).values

In [220]:
y_train.shape,y_test.shape

((95, 92), (92, 89))

In [222]:
X_train.shape,X_test.shape

((95, 8), (92, 8))

In [223]:
X_train

       0    1    2   3  4  5  6  7
1     21   22   23  24  0  0  0  0
3     25    5    0   0  0  0  0  0
5     26    0    0   0  0  0  0  0
7     27   28   29   0  0  0  0  0
9     30   31    0   0  0  0  0  0
..   ...  ...  ...  .. .. .. .. ..
175   14    2  176   0  0  0  0  0
177  177    0    0   0  0  0  0  0
179   20  178    0   0  0  0  0  0
181   20  179  180   0  0  0  0  0
183  181  182    0   0  0  0  0  0

[95 rows x 8 columns]

In [224]:
max_length = X_train.shape[1]
# output = len(df3.labels.unique())
output = 8

In [225]:
# def define_model(vocab_size, max_length):
#     model = Sequential()
#     model.add(Embedding(vocab_size,300, input_length=max_length))
#     model.add(Conv1D(filters=64, kernel_size=6, activation='relu'))
#     model.add(MaxPooling1D(pool_size=4))
#     model.add(Flatten())
# #     model.add(Dense(32, activation='relu'))
#     model.add(Dense(16, activation='softmax'))
    
#     # compile network
#     model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
#     # summarize defined model
#     model.summary()
# #     plot_model(model, to_file='model.png', show_shapes=True)
#     return model

In [226]:
max_length

8

In [227]:
early_stopping = EarlyStopping(monitor='val_loss',patience=10)
checkpoint = ModelCheckpoint("model-v1.h5",
                             monitor="val_loss",
                             mode="min",
                             save_best_only = True,
                             verbose=1)
reduce_lr = ReduceLROnPlateau(monitor = 'val_loss', factor = 0.2, patience = 3, verbose = 1, min_delta = 0.0001)
callbacks = [early_stopping,checkpoint,reduce_lr]

In [228]:

def define_model(vocab_size, max_length):
    model = Sequential()
    model.add(Embedding(vocab_size,300, input_length=max_length))
    model.add(Conv1D(filters=64, kernel_size=4, activation='relu'))
    model.add(MaxPooling1D(pool_size=5))
    model.add(Flatten())
#     model.add(Dense(32, activation='relu'))
    model.add(Dense(8, activation='softmax'))
    
    
    # compile network
#     model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.compile(loss = 'categorical_crossentropy',
              # optimizer = Adam(lr=0.001),
              optimizer = 'adam',
              metrics = ['accuracy'])
    
    # summarize defined model
    model.summary()
#     plot_model(model, to_file='model.png', show_shapes=True)
    return model

In [229]:
# define model
model = define_model(vocab_size, max_length)

Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_18 (Embedding)     (None, 8, 300)            54900
_________________________________________________________________
conv1d_18 (Conv1D)           (None, 5, 64)             76864
_________________________________________________________________
max_pooling1d_18 (MaxPooling (None, 1, 64)             0
_________________________________________________________________
flatten_15 (Flatten)         (None, 64)                0
_________________________________________________________________
dense_15 (Dense)             (None, 8)                 520
=================================================================
Total params: 132,284
Trainable params: 132,284
Non-trainable params: 0
_________________________________________________________________

In [230]:
history = model.fit(X_train, y_train, epochs=500, verbose=1, validation_data=(X_test,y_test), callbacks=callbacks)

ValueError: A target array with shape (95, 92) was passed for an output of shape (None, 8) while using as loss `categorical_crossentropy`. This loss expects targets to have the same shape as the output.

In [ ]:
acc = history.history['acc']
val_acc = history.history['val_acc']
loss=history.history['loss']
val_loss=history.history['val_loss']

plt.figure(figsize=(16,8))
plt.subplot(1, 2, 1)
plt.plot(acc, label='Training Accuracy')
plt.plot(val_acc, label='Validation Accuracy')
plt.legend(loc='lower right')
plt.title('Training and Validation Accuracy')

plt.subplot(1, 2, 2)
plt.plot(loss, label='Training Loss')
plt.plot(val_loss, label='Validation Loss')
plt.legend(loc='upper right')
plt.title('Training and Validation Loss')
plt.show()

In [ ]:
[np.argmax(i) for i in model.predict(X_test)][:10]

In [ ]:
[np.argmax(i) for i in y_test][:10]

## New user question encoding

In [ ]:
def get_text():
    input_text  = ['what are you']
    df_input = pd.DataFrame(input_text,columns=['questions'])
    df_input
    return df_input

In [ ]:
#load artifacts 
from tensorflow.keras.models import load_model
model = load_model('model-v1.h5')
tokenizer_t = joblib.load('tokenizer_t.pkl')
vocab = joblib.load('vocab.pkl')

In [ ]:
def tokenizer(entry):
    tokens = entry.split()
    re_punc = re.compile('[%s]' % re.escape(string.punctuation))
    tokens = [re_punc.sub('', w) for w in tokens]
    tokens = [word for word in tokens if word.isalpha()]
    tokens = [lemmatizer.lemmatize(w.lower()) for w in tokens]
#     stop_words = set(stopwords.words('english'))
#     tokens = [w for w in tokens if not w in stop_words]
    tokens = [word.lower() for word in tokens if len(word) > 1]
    return tokens

In [ ]:
def remove_stop_words_for_input(tokenizer,df,feature):
    doc_without_stopwords = []
    entry = df[feature][0]
    tokens = tokenizer(entry)
    doc_without_stopwords.append(' '.join(tokens))
    df[feature] = doc_without_stopwords
    return df

In [ ]:
# df_input = remove_stop_words_for_input(tokenizer,df_input,'questions')
# df_input

In [ ]:
def encode_input_text(tokenizer_t,df,feature):
    t = tokenizer_t
    entry = entry = [df[feature][0]]
    encoded = t.texts_to_sequences(entry)
    padded = pad_sequences(encoded, maxlen=16, padding='post')
    return padded

In [ ]:
# encoded_input = encode_input_text(tokenizer_t,df_input,'questions')
# encoded_input.shape

In [ ]:
# encoded_input

In [ ]:
def get_pred(model,encoded_input):
    pred = np.argmax(model.predict(encoded_input))
    return pred

In [ ]:
# mapper

In [ ]:
# df2.head()

In [ ]:
def bot_precausion(df_input,pred):
    words = df_input.questions[0].split()
    if len([w for w in words if w in vocab])==0 :
        pred = 1
    return pred

In [ ]:
def get_response(df2,pred):
    upper_bound = df2.groupby('labels').get_group(pred).shape[0]
    r = np.random.randint(0,upper_bound)
    responses = list(df2.groupby('labels').get_group(pred).response)
    return responses[r]

In [ ]:
def bot_response(response,):
    print(response)

In [ ]:
df_input = get_text()

#load artifacts 
tokenizer_t = joblib.load('tokenizer_t.pkl')
vocab = joblib.load('vocab.pkl')

df_input = remove_stop_words_for_input(tokenizer,df_input,'questions')
encoded_input = encode_input_text(tokenizer_t,df_input,'questions')

pred = get_pred(model,encoded_input)
pred = bot_precausion(df_input,pred)

response = get_response(df2,pred)
bot_response(response)

In [ ]:
import streamlit as st

In [ ]:
st.image()